.header h1
,.header h1 a{
	font-family: Georgia,"Times New Roman",Times,"Kai","Kaiti SC","KaiTi","BiauKai","楷体","楷体_GB2312",serif;
	font-size: 45px;
	line-height: 50px;
	display:block;
	color:#555;
	/*clear: both;*/
}
.header h1 a:link{}

.header h1 a:hover{
	color:#428BD1;
}

.header h1 a:active{}

.header > div{
	margin-bottom: 16px;
}

.header .brand{
	min-height: 160px;
}

.header >.menu > h2
,.sider > div > h2{
	color:#fff;
	width:215px;
	background-color: #428BD1;
	padding:6px 0 6px 8px;
	margin-bottom: 8px;
}

.header >.menu ul li{
	width:220px;
	margin-bottom: 6px;
	border-left: 3px solid  #428BD1;
}

.header > .menu  li a{
	color: #555;
	padding:8px 20px;
	font-weight:bold;
	line-height: 24px;
}

.header > .menu  li:hover{
	background-color: #428BD1; 
}

.header > .menu li:hover a{	
	color:rgb(245,245,245);
}

.header > .search form  input{
	color: #b3b3b3;
	height: 20px;
	padding: 4px 6px 4px 3px;
	font-size: 12px;
	border: solid 1px #428BD1;	
	/*vertical-align: middle;*/
	width: 65%;
}

.header > .search form button{	
	color:#fff;
	border: solid 1px #428BD1;
	background-color: #428BD1;
	line-height: 20px;
	font-size: 12px;
	padding:4px 14px 4px 14px;
	cursor: pointer;
}

.header > .search form button:hover{	
	background-color: #317ec9;
}

/* Circle Avatar Styles */
/*.avatar{
	display:inline-block;
}*/
.avatar {
	display: inline-block;
	width: 64px;
	height: 64px;
	margin: 0 0  0;
    padding: 0 0px 0 0;
    opacity: 0.8;
    filter: alpha(opacity=80);
    -webkit-transition: opacity 1s !important;
    -moz-transition: opacity 1s !important;
    -ms-transition: opacity 1s !important;
    -o-transition: opacity 1s !important;
    transition: opacity 1s !important;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%
}

.avatar:hover {
    opacity: 1;
    filter: alpha(opacity=100);
    background-color: transparent
}


.avatar img {
	width: 100%;
	height: 100%;
	border: 2px solid white;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: border-color 0.3s !important;
	-moz-transition: border-color 0.3s !important;
	-ms-transition: border-color 0.3s !important;
	-o-transition: border-color 0.3s !important;
	transition: border-color 0.3s !important;
}

/*  sider styles*/
.sider{
	padding-top: 8px;
	padding-bottom: 8px;
	margin-bottom: 50px;
}

.sider > div{
	margin-bottom: 16px;
	min-height: 220px;
}

.sider > div li{
	margin-left: 8px;
	font-size:12px;
}
.sider > div li:before{
	font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
	content: "///";
	color: #9ddcff;
	margin-right: 8px;
}

.sider >div li a
,.post  p > a{
	color:#2879d0;
}

.sider >div li a:link
.post  p > a:link{
	color:#2879d0;
}

.sider >div li > a:hover
,.post  p > a:hover{
	color:#41b7d8; 
	text-decoration:none;
	border-bottom:1px solid;
	padding-bottom:1px; /*设置下方隔开距离此处为3像素*/
}

.sider >div li>a:active
,.post p > a:active{
	color:#317ec9;
}

/* post style*/
.contents{	
	margin-bottom: 50px;
}

.post{
	background-color: rgb(245,245,245);
	padding:8px 0;
}
.post > *{
	margin:0 8px 6px 8px;	
}

.post > h2{
	color: #3b3b3b;
	font-family: "Microsoft yahei","Helvetica Neue",Helvetica,Arial,"宋体","Hiragino Sans GB",sans-serif;
	font-size: 26px;
	line-height: 40px;
}
.post > h2{
	/*border-bottom: 1px solid grey;*/
	border-bottom: 2px solid rgb(218,211,187);
	/*background: transparent url(../images/cr1.gif) repeat-x bottom left;*/
}

.post > h2 > a{
	color:#9ddcff;
}

.post > h2 >a:link{	
	color:#2879d0;
}

.post > h2 >a:visited{	
	color:#2879d0;
}

.post > h2 >a:hover{	
	color:rgb(203,101,67);
}

.post >.post-content{
	font-size: 12px;
	/*text-indent:25px;*/
	min-height: 80px;
}

/*blockquote style from http://css-tricks.com/snippets/css/simple-and-nice-blockquote-styling/*/
blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  padding:10px;
}

blockquote:before
,blockquote:after {
  color: #ccc;
  content: '“';
  font-size: 2em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote:after{
	content:'”';	
  	margin-left: 0.25em;
}

blockquote p {
  display: inline;
}

.post .post-date
,.post .post-tag{
	font-size:10px;
	color:#999;
}

.post .post-date:before{
	content:url(../images/clock-grey.png);
	margin-right: 4px;
}

.post .post-tag:before{	
	content:url(../images/tag-grey.png);
	margin-right: 4px;
}

/* content element styles*/
.post > *{
	margin:6px 24px;
}

.post-content > *{	
	margin:6px 0;
}

.post-content h2{
	font-size: 20px;
	font-weight: bold;
	line-height: 30px;
	margin:16px 0;
}

.post-content p{
	line-height: 20px;
	letter-spacing: 1px;
	word-wrap: break-word;
	/*overflow: hidden;*/
}
.post-content ul li{
	margin-left: 30px;
	/*list-style-type: disc;*/
}

.post-content code{
	border: 1px solid #e0e0e0;
	background: #F8F8F8;
	padding: 0 5px;
	font-size: 13px;
	font-family: Menlo, monospace;
}

.post-content pre code {
	border: none;
	background: none;
	padding: 0;
	margin: 0;
}

pre ol li{
	margin-left: 30px;
}


/* pagination*/
.pagination{
	/*border:1px solid;*/
	text-align: center;
	margin: 0 auto;
	margin-top: 20px;
}
 .pagination li{
 	color:#fff;
	display:inline;
	font-size: 12px;
	line-height: 26px;
	height: 26px;
	padding:5px 9px;
	background-color: rgb(232,86,71);
	cursor:pointer;
}

 .pagination li:hover{
 	background-color: rgb(229,65,49)
 }

 .pagination li a{
 	color:#fff;
 	font-size: 14px;
 }

 /*footer*/
 .footer{
 	/*margin-top: 1000px;*/
 	padding:30px;
 }
.social > h3{
	color:rgb(245,245,245);
}
.social li{
	display:inline;
	margin-right: 8px;
}
.social li > a {
	color: rgb(30,35,41);
}

.glyph{
	font-size: 28px;
}
.glyph  i {
    font-size: 40px;
}

.glyph:hover {
    -webkit-transition: color 1.5s ease-out;
    -moz-transition: color 1.5sease-out;
    -ms-transition: color 1.5s ease-out;
    -o-transition: color 1.5s ease-out;
    transition: color 1.5s ease-out;
    
	color: rgb(240,240,240);
}
