.header .brand{
	text-align:center;
}

.header h1
{
	font-family: Georgia,"Times New Roman",Times,"Kai","Kaiti SC","KaiTi","BiauKai","楷体","楷体_GB2312",serif;
	font-size: 2em;
}
.header h1 a{
	font-size: 2em;
	line-height: 1em;
	color:#555;
}

.header h1 a:hover{
	color:#428BD1;
}

.header > div{
	margin-bottom: 16px;
}


.header >.menu > h2
,.sider > div > h2{
	color:#fff;
	line-height: 1.8em;
	background-color: #428BD1;
	padding:6px 0 6px 8px;
}

.sider > div > h2{
	margin-bottom: 8px;
}


.header >.menu ul li{
	line-height: 1.6em;
}

.header > .menu  li a{
	color: #555;
	padding:3px 20px;
	display:block;
	font-weight:bold;
}

.header > .menu  li:hover{
	background-color: #428BD1; 
}

.header > .menu li:hover a{	
	color:rgb(245,245,245);
}

.header > .search form  input{
	color: #b3b3b3;
	height: 1.625em;
	padding: 4px 0 4px 4px;
	font-size: 1em;
	border: solid 1px #428BD1;	
	width: 68.75%;
}

.header > .search form button{	
	color:#fff;
	border: solid 1px #428BD1;
	background-color: #428BD1;
	line-height: 1.625em;
	font-size: 1em;
	padding:4px 12px 4px 12px;
	cursor: pointer;
}

.header > .search form button:hover{	
	background-color: #317ec9;
}


/* Circle Avatar Styles */
/*.avatar{
	display:inline-block;
}*/
.avatar {
	display: inline-block;
	width: 64px;
	height: 64px;
	margin: 0 0  0;
    padding: 0 0px 0 0;
    opacity: 0.8;
    filter: alpha(opacity=80);
    -webkit-transition: opacity 1s !important;
    -moz-transition: opacity 1s !important;
    -ms-transition: opacity 1s !important;
    -o-transition: opacity 1s !important;
    transition: opacity 1s !important;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%
}

.avatar:hover {
    opacity: 1;
    filter: alpha(opacity=100);
    background-color: transparent
}


.avatar img {
	width: 100%;
	height: 100%;
	border: 2px solid white;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: border-color 0.3s !important;
	-moz-transition: border-color 0.3s !important;
	-ms-transition: border-color 0.3s !important;
	-o-transition: border-color 0.3s !important;
	transition: border-color 0.3s !important;
}

/*  sider styles*/
.sider{
	padding-top: 8px;
	padding-bottom: 8px;
}

.sider > div{
	margin-bottom: .8em;
}

.sider > div li{
	margin-left: 8px;
	line-height: 1.8em;
}

.sider > div li:before{	
	content: "///";
	color: #9ddcff;
	font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
	margin-right: 8px;
}

.sider > div li a
,.post  p > a{
	color:#2879d0;
}

.sider > div li a:link
.post  p > a:link{
	color:#2879d0;
}

.sider > div li > a:hover
,.post  p > a:hover{
	color:#41b7d8; 
	text-decoration:none;
	border-bottom:1px solid;
	padding-bottom:1px; 
}

.sider > div li > a:active
,.post p > a:active{
	color:#317ec9;
}

/* post style*/
.contents{	
	margin-bottom: 50px;
}

.post{
	background-color: rgb(245,245,245);
	padding:8px 0;
}

.post > *{
	margin:0 8px 6px 8px;	
}

.post > h2{
	color: #3b3b3b;
	font-family: "Microsoft yahei","Helvetica Neue",Helvetica,Arial,"宋体","Hiragino Sans GB",sans-serif;
	font-size: 2.6em;
	line-height: 1.6em;
}

.post > h2{
	border-bottom: 2px solid rgb(218,211,187);
}

.post > h2 > a{
	color:#9ddcff;
}

.post > h2 >a:link{	
	color:#2879d0;
}

.post > h2 >a:visited{	
	color:#2879d0;
}

.post > h2 >a:hover{	
	color:rgb(203,101,67);
}

.post >.post-content{
	font-size: 1.2em;
	min-height: 80px;
}


/*blockquote style from http://css-tricks.com/snippets/css/simple-and-nice-blockquote-styling/*/
blockquote {
	background: #f9f9f9;
	border-left: 10px solid #ccc;
	padding:10px;
}

blockquote:before
,blockquote:after {
	color: #ccc;
	content: '“';
	font-size: 2em;
	line-height: 0.1em;
	margin-right: 0.25em;
	vertical-align: -0.4em;
}
blockquote:after{
	content:'”';	
  	margin-left: 0.25em;
}

blockquote p {
	display: inline;
}

.post .post-date
,.post .post-tag{
	font-size:1em;
	color:#999;
}

.post .post-date:before{
	content:url(../images/clock-grey.png);
	margin-right: 4px;
}

.post .post-tag:before{	
	content:url(../images/tag-grey.png);
	margin-right: 4px;
}

/* content element styles*/
.post > *{
	margin:6px 24px;
}

.post-content > *{	
	margin:6px 0;
}

.post-content h2{
	font-size: 2em;
	font-weight: bold;
	line-height: 2em;
	margin:16px 0;
}

.post-content p{
	line-height: 1.6em;
	letter-spacing: 1px;
	word-wrap: break-word;
}
.post-content ul li{
	margin-left: 30px;
}

.post-content code{
	border: 1px solid #e0e0e0;
	background: #F8F8F8;
	padding: 0 5px;
	font-family: Menlo, monospace;
}

.post-content pre code {
	border: none;
	background: none;
	padding: 0;
	margin: 0;
}

pre ol li{
	margin-left: 30px;
}

.comments-thread{
	margin:15px 24px 0 24px;
}

/* pagination*/
.pagination{
	text-align: center;
	margin-top: 20px;
}

 .pagination li{
 	display: inline;
	margin-right: 6px;
 }
 
 .pagination li a{
 	color:#fff;
	background-color: rgb(232,86,71);
	padding:5px 9px;
 	font-size: 1.2em;
 }

 .pagination li a:hover{
 	background-color: rgb(229,65,49)
 }

 /*footer*/
.social > h3
,list > h3{
	color:rgb(245,245,245);
}

.social li{
	display:inline;
	margin-right: .8em;
}

.glyph
,.glyph  i {
	font-size: 2em;
}

.glyph:hover {
    -webkit-transition: color 1.5s ease-out;
    -moz-transition: color 1.5sease-out;
    -ms-transition: color 1.5s ease-out;
    -o-transition: color 1.5s ease-out;
    transition: color 1.5s ease-out;
    
	color: rgb(240,240,240);
}

.footer .list{
	color:rgb(245,245,245);
}

.social li>a 
,.list li
,.list a
,.list a:link{
	color:rgb(30,35,41);
}

.list li{
	line-height: 1.6em;
}

.list a:hover{
	color:#41b7d8; 
	text-decoration:none;
	border-bottom:1px solid;
	padding-bottom:1px; 
}

.span3 {
	width: 30%;
	float: left;
}

pre.linenums{
	overflow: auto;
}
